{% comment %}<style>
/**
 * Registria
 * Standard Registration Template
 * Default Confirmation Page
 *
 * Customize the settings below and include the
 * appropriate fields on your page in admin.
 *
 * View the full standard registration checklist here:
 * http://photoregister.com/basecoat_checklist
 */
</style>{% endcomment %}

{% assign brand_name = "YOUR BRAND HERE" %}

{% capture brand_logo %}
    {{ "brand_logo" | image_url }}
{% endcapture %}

{% capture brand_favicon %}
    {{ "brand_favicon" | image_url }}
{% endcapture %}

{% assign brand_url = "http://www.BRAND.com" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ header }}

    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ brand_favicon }}">
</head>
<body>
    
<div class="wrapper">
    <header class="header">

        <img src="{{ brand_logo }}" alt="{{ brand_name }}" class="logo">
        
    </header>

    <h2>Registration Successful</h2>

    <p>Congratulations! You have successfully registered your {{ brand_name }} {{ user.registrations.last.product.name }}.</p>
    <p><a href="{{ brand_url }}" class="button-primary">Return to {{ brand_name }} site</a></p>
</div>

</body>
</html>