{% comment %}<style>
/**
 * Registria
 * Standard Registration Template
 * Page 2
 *
 * Customize the settings below and include the
 * appropriate fields on your page in admin.
 *
 * View the full standard registration checklist here:
 * http://photoregister.com/basecoat_checklist
 */
</style>{% endcomment %}

{% assign brand_name = "YOUR BRAND HERE" %}

{% capture brand_logo %}
    {{ "brand_logo" | image_url }}
{% endcapture %}

{% capture brand_favicon %}
    {{ "brand_favicon" | image_url }}
{% endcapture %}

{% assign call_to_action = "Upload Proof of Purchase for value statement" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ header }}

    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ brand_favicon }}">
</head>
<body>
    
<div class="wrapper">
    <header class="header">

        <img src="{{ brand_logo }}" alt="{{ brand_name }}" class="logo">
        <h2>{{ call_to_action }}</h2>
        
    </header>

    {{ user.id | earliest_photoregister_activity | assign_to: 'photoregister_activity' }}

    {% unless photoregister_activity.user == nil %}
        {% assign user = photoregister_activity.user %}
    {% endunless %}

    {{ form_errors }}
    {{ form_messages }}

    <span id="registria_form_placeholder">
        <div class="grid">
            <div class="col-1-2">
                <label for="proof_of_purchase" class="file-input">
                    <span class="file-label" data-button="Browse">Proof of Purchase</span>
                    <input type="file" class="registria_field" name="product[proof_of_purchase]" id="proof_of_purchase">
                </label>
            </div>
            <div class="col-1-2">
                <label for="purchase_price">
                    <span class="float-label-text hidden">Purchase Price</span>
                    <input type="number" min="0" step="0.01" id="purchase_price" class="registria_field mask-numerical" name="product[price_paid]">
                </label>
            </div>
        </div>
        {% comment %}
        <div class="grid">
            <div class="col-1">
                <label>
                    <span class="float-label-text hidden">Username</span>
                    <input class="registria_field " id="username" name="user[username]" type="email" value="{{ user.email }}">
                </label>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-2">
                <label for="new_password">
                    <span class="float-label-text hidden">Password</span>
                    <input class="registria_field password_fields float-label-field" id="password" name="user[password]" type="password">
                </label>
            </div>
            <div class="col-1-2">
                <label for="password_confirmation">
                    <span class="float-label-text hidden">Confirm Password</span>
                    <input class="password_fields registria_field float-label-field" id="password_confirmation" name="user[password_confirmation]" type="password">
                </label>
            </div>
        </div>
        {% endcomment %}

        <input class="registria_field" id="page_name" name="page[name]" type="hidden" value="{{ page.name }}">
        <input id="next_button" class="full-width" type="submit" value="{{ page.button_label }}">

        <div class="or-bar"></div>

        <a href="/{{ page.next_page.name }}" class="button-primary full-width">Skip This Step</a>
    </span>

</div>

</body>
</html>