p {
    margin-bottom: 1em;
}

ul, ol {
    list-style-position: inside;
}

ul ul, ol ol,
ul ol, ol ul {
  margin-left: 2em;
  margin-bottom: 1em;
}

.content ul,
.content ol {
  margin-left: 2em;
}

body {
  padding-bottom: 20px;
}

.nav {
    list-style: none;
    min-width: 200px;
    width: 75%
}

.nav-item-container {
    margin-bottom: .5em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.nav-item-container:before {
    content: "\00b7";
    color: #0077A8;
}

.nav-item-container:hover,
.nav-item-container.active {
    background-color: #0077A8;
}

.nav-item {
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.nav-item-container:hover .nav-item,
.nav-item-container.active .nav-item {
    color: #FFF;
}

pre {
    margin: 1em 0;
    font-size: .8em;
}

pre code {
    padding: 0 25px;
    border: 2px solid #666;
    border-radius: 5px;
}

code.inline {
    display: inline;
    padding: 1px 3px;
    border: 1px solid #666;
    border-radius: 5px;
}

pre.inline code {
    padding: 0;
}

h5 + .grid {
  background-color: #eee;
  padding: 15px 15px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 730px) {
  .sidebar, .content {
    float: none;
    width: 100%;
    padding-right: 0;
  }
}

/* highlight.js */
/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs {
  display: block;
  overflow-x: auto;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}